<section id="map">
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">{{ with .Site.Params.map.headline }}{{ . }}{{ end }}</h2>
              <hr class="primary">
              <p class="text-faded">{{ with .Site.Params.map.description }}{{ . | markdownify }}{{ end }}</p>
          </div>
      </div>
  </div>
    <div class="container-fluid">
        <div class="row no-gutter">
          <div class="map col-md-10 col-md-offset-1">
<iframe src="https://www.google.com/maps/d/embed?mid=13e18O3i5Qo-8e2npxPbPPVLcYOQ" width="100%" height="480" frameborder="0" style="border:0"></iframe>
</div>
    </div>
  </div>
</section>
